body {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    margin: 0;
}

#hero {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDFxMGJnN2xhcmQ0MnVsOHN4aXhsZTRsNnhkN20xdWFramZrM2puOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SVCSsoKU5v6ZJLk07n/giphy.gif");
    background-size: cover;
    color: white;
    padding: 10px 0 40px 0;
    height: 80%;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}

#logo {
    width: 150px;
}