body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-image {
    width: 150px;
}

.card {
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: #2B2839;
    background-color: #ffada4;
    border-bottom: 8px solid #e67c93;
}

.dotted-border {
    /* border: 2px dotted blue; */
}